.maincont{
    margin: 1rem;
}
.parentcont{
   
    
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
padding: 10%;
justify-content: center;
}

.imgcont{
    box-shadow: 3px 3px 8px black, -4px -6px 8px white;
    max-height: 300px;
    max-width: 200px;
    min-width: 200px;
    min-height: 300px;
}
.imgcont:hover{
  transform: translateY(-10px);;
}
h1{
    font-size: medium;
    
}
.des{
    display: flex;
    justify-content: space-around;
}
.maintitle{
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;

}
.desbox{
    box-shadow: 2px 2px 10px black , -2px -2px 10px white;
    
}
.searchbar{
  text-align: center;
}
input{
    height: 20px;
    width: 400px;
}
input::placeholder{
    text-align: center;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.title{
    max-width: 200px;
    min-height: 100px;
    padding: 1rem;
    border-top: 1px solid black;
    box-sizing: border-box;
    border-left: 1px solid black;
    
}
